DerivedData/
build/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcscmblueprint
*.swiftpm/
.idea/
Pods/
Carthage/
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/
.env
.DS_Store
*project.pbxproj